@import '../../App.scss';

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.heroBackground {
    width: 100%;
    max-width: $hero-width;
    margin: $gutter;
    margin-top: 0;
}

.profile {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: $site-width;
    padding-left: $gutter;
    padding-right: $gutter;
}

.profile__pic {
    width: 100%;
    height: 100%;
    max-height: $profile-image-width;
    max-width: $profile-image-width;
    border-radius: 50%;
    margin-right: $gutter;
    margin-top: 1em;
    padding-top: $gutter;
}

.profile__about {
    padding: $gutter;

}

.profile__title {
    font-size: 1.5rem;
    font-weight: 700;
}

@media (max-width: $medium-breakpoint) {
    .profile {
        flex-direction: column;
    }

    .profile__pic {
        margin: auto;
    }

    .profile__title {
        text-align: center;
    }
}